[Unit]
Description=Onair Webcamera and Microphone Daemon
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=%h/.local/bin/com.vovanr.onair.sh

[Install]
WantedBy=default.target
